* {
  margin: 0;
}

body {
  overflow-x: hidden;
  width: 100vw;
  background: #845222;
  display: flex;
  justify-content: center;
}

.img {
  position: absolute;
  left:50px;
  top:50px;
  z-index: 999;
}

.img2>img {
  transform: rotate(180deg);
  position: absolute;
  width: 106%;
  top:-800px;
  right: -100px;
}

.img3>img {
  position: absolute;
  width: 100%;
  top: 460px;
  right: 0px;
}

.img4>img {
  position: absolute;
  width: 100%;
  top: 810px;
  right: 0px;
}

.img5>img {
  position: absolute;
  width: 100%;
  top: 3600px;
  right: 0px;
}

.img6>img {
  position: absolute;
  width: 30%;
  top: 4000px;
  right: 0px;
}

.img7>img {
  position: absolute;
  width: 30%;
  top: 5000px;
  right: 0px;
}

.img8>img {
  position: absolute;
  width: 35%;
  top: 4000px;
  left: 0px;
}

.img9>img {
  position: absolute;
  width: 35%;
  top: 5000px;
  left: 0px;
}
